body {
  font-family: "Oleo Script", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #f5f7fa;
}

.main_container {
  /* Главная */
  position: relative;
  width: 1600px;
  height: 2349px;

  background: #ffffff;
}

/* Start Top Line */
.main_container_top_line {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
/* WebStudio */
.top_line_webstudio {
  display: flex;
  flex-direction: row;

  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 00px; /* 24px , но попускает слишком: считает от границы не того контейнера*/

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  /* color: #43637c; */
}

.webstudio_web {
  color: #2196f3;
}
.webstudio_studio {
  color: #000000;
}

/* Menu Nav */
.top_line_menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 294px;
  height: 16px;
  left: 0px; /* в макете 453, но далеко*/
  top: 24px; /* в макете 32, но низко*/

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.top_line_menu_Studiya {
  position: absolute; 
  width: 49px;
  height: 16px;
  left: 453px;
  top: 00px; /* в макете 32, но низко*/
}
.top_line_menu_Studiya_Link {
  font-style: normal;
  color: #2196f3;
  text-decoration: none;
}
.top_line_menu_Portofolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 00px; /* в макете 32, но низко*/
}
.top_line_menu_Kontakt {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 00px; /* в макете 32, но низко*/
}
.top_line_E-mail_Link{
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;
text-decoration: none;

}

.top_line_Telefon_Txt{
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
text-decoration: none;

}

/* End Top Line */
/*+++ Start Decision +++*/

.main_container_decision {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
  margin: 0px 0px 0px 0px;
}

.main_container_decision_txt{
position: absolute;
width: 696px;
height: 120px;
margin: 200px 0px 0px 452px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.main_container_decision_button{
position: absolute;
width: 200px;
height: 50px;
margin: 350px 0px 0px 700px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;

}
/*===== end Decision ====*/
/*+++ Start Features +++*/
.main_container_litl_boxes{
  display: flex;
  flex-direction: row;
position: absolute;
width: 1170px;
height: 101px;
left: 215px;
top: 772px;
background-color: lightcoral;
}

.litl_boxes{
/* position: absolute; */
width: 270px;
height: 101px;
/* left: 215px;
top: 772px; */
margin: 00px 30px 0px 0px;
}
.litl_boxes_head{
position: absolute;
width: 270px;
height: 16px;
/* left: 215px;
top: 772px; */
margin: 0px 0px 0px 0px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.litl_boxes_txt{
/* position: absolute; */
width: 270px;
height: 75px;
/* left: 215px;
top: 798px; */
margin: 26px 0px 0px 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
}
/*=== End Features ===*/
/*+++ Start We doing +++*/

.main_container_we_doing{
   display: flex;
  flex-direction: column;
position: absolute;
width: 1170px;
height: 386px;
left: 215px;
top: 969px;
background-color: khaki;
}

.we_doing_head{
position: absolute;
width: 377px;
height: 42px;
/* left: 612px;
top: 969px; */
margin: 0px 0px 0px 397px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.we_doing_box{
   display: flex;
  flex-direction: row;
}
.we_doing_box_picture{
  width: 370px;
  height: 294px;
  margin: 92px 30px 0px 0px;
}

/*===== End We doing ====*/
/*+++ Start Our Team +++*/
.main_container_our_team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  /* background: #F5F4FA; */
  background: #6e04609c;
  /* margin: 0px 0px 0px 0px; */
}
.our_team_head{
position: absolute;
width: 265px;
height: 42px;
/* left: 653px;
top: 1543px; */
margin: 94px 0px 0px 683px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.our_team_box{
   display: flex;
  flex-direction: row;
position: absolute;
width: 1170px;
height: 368px;
/* left: 230px;
top: 1633px; */
margin: 186px 30px 0px 230px;
background-color: khaki;
}

.our_team_card{
/* position: absolute; */
width: 270px;
height: 368px;
/* left: 230px;
top: 1633px; */

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
margin: 0px 30px 0px 0px;
}

.our_team_box_picture{
/* position: absolute; */
width: 270px;
height: 260px;
/* left: 230px;
top: 1633px; */

background: url(4853.jpg);
border-radius: 0px;
}
.our_team_FIO{
/* position: absolute; */
width: 152px;
height: 19px;
/* left: 290px;
top: 1923px; */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
margin: 30px 0px 0px 60px;
}

.our_team_Position{
/* position: absolute; */
width: 131px;
height: 19px;
/* left: 300px;
top: 1952px; */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
margin: 10px 0px 0px 70px;
}
/*=== End Our Team ===*/
/*+++ Start basement +++*/

.main_container_basement {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}

.basement_webstudio{
position: absolute;
width: 145px;
height: 31px;
/* left: 215px;
top: 2157px; */

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
margin: 30px 0px 0px 215px;
}
.basement_studio{
position: absolute;
width: 145px;
height: 31px;
/* left: 215px;
top: 2157px; */

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
color: #ffffff;
}
.basement_address{
position: absolute;
width: 232px;
height: 81px;
/* left: 215px;
top: 2208px; */
margin: 111px 0px 0px 215px;
/* background-color: lawngreen; */

}
.address_post{
position: absolute;
width: 231px;
height: 21px;
/* left: 215px;
top: 2208px; */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
margin: 0px 0px 0px 0px;
}
.address_E-mail{
position: absolute;
width: 231px;
height: 21px;
/* left: 215px;
top: 2238px; */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
margin: 30px 0px 0px 0px;
}
.address_Telefon{
position: absolute;
width: 231px;
height: 21px;
/* left: 215px;
top: 2268px; */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
margin: 60px 0px 0px 0px;
}

.address_E-mail_Link{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address_Telefon_Txt{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/*=== End basement ===*/
/* font-family: 'Oleo Script', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
